.rules:hover, .about:hover, .newSteak:hover{
    color: black !important;
}

.newSteak{
    float: right !important;
}

.modal-body img{
    height: 200px;
    border: 1px solid black;
}

#startModal .modal-footer{
    text-align:center;
}

/*.dropdown{
    float: right;
}*/