.inputTable{
	position: relative;
	width: 150% !important;
	text-align: center;
	padding: 0px !important;
	margin: 0px!important;
/*	left: 10% !important;*/
}

.displayDiv{
	position: relative;
	width: 100%;
}

.dropdown{
	top:100%;
overflow:auto;
	height:200px;

}
.btn{
	font-size:8pt;
	padding:2px;
}
.selectName{
	position: absolute;
	width: 30%;
	height: 20%;
}

#recipeName{
	width: 200px !important;
}

.sBut{

	position:relative;

	float: left;
	width: 29% !important;
	height: 17px !important;
	font-size:6pt;
	padding:1px;
	margin:1px;
	

}

.table-container{
    overflow-x: auto;
    overflow-y: auto;
    width:100%;
    height:160px;
	font-size: 10px;
   }
th{
	font-size: 8px;


}
td{

	margin:0!important;
	padding:1px!important;
}

#addButton{

    position:relative;
	top: 0%;
	float: left;

}
.displayDiv{
	position:relative;
	width:100%
}
.closeRow{
	margin-right:10px;
}
#subButton{
/*	position: absolute;*/
    position:relative;
	top: 0%;
	float: left;
/*
    right: 0;
    bottom: 0;
*/
}
/*
#cookButton{
	position: relative;
	left:10%;
	top:50%;
	
}
*/
.steakHist
{
	width:40%;
	height:20px;
	margin-left:5%;
	margin-right:5%;
	margin-top:0%;
	margin-bottom:0%;
}
#meatInp{
	position:relative;
	padding: 20px;
	margin:5px;
}

input[type="text"] {
    border: 1px solid black;
    font-size: 12px;
    max-width: 40px;
	max-height: 20px;
	margin:2px;
	
}
#thickInpDiv, #tempInpDiv, #meatTypeDiv{
	padding: 5px;
	margin:5px;
	width:80px;!important;
	  font-size: 12px;
}
.btn-mini{
	width:25px!important;
	padding:0px!important;
	margin:0px !important;
	position: relative !important;

}
