.inputTable{
	position: relative;
	width: 40% !important;
	text-align: center;
	left: 30% !important;
}

#addButton{
	position: relative;
	top: 0%;
	float: left;
}

#subButton{
	position: relative;
	top: 0%;
	float: left;
}

#meatInp{
	position:relative;
	float:left;
}